<div class="shopify-react-section" data-react-component="CommunitySection"></div>
{% schema %}
{
  "name": "Instagram UGC Feed Showcase",
  "tag": "section",
  "class": "section-ugc-community",
  "settings": [],
  "presets": [
    {
      "name": "Instagram UGC Feed Showcase"
    }
  ]
}
{% endschema %}
