<div class="shopify-react-section" data-react-component="Footer"></div>
{% schema %}
{
  "name": "Unified Copyright Footer",
  "tag": "section",
  "class": "section-footer",
  "settings": [],
  "presets": [
    {
      "name": "Unified Copyright Footer"
    }
  ]
}
{% endschema %}
