<div class="shopify-react-section" data-react-component="FunEditorialSection"></div>
{% schema %}
{
  "name": "Aesthetic Editorial Banner",
  "tag": "section",
  "class": "section-editorial-banner",
  "settings": [],
  "presets": [
    {
      "name": "Aesthetic Editorial Banner"
    }
  ]
}
{% endschema %}
