<div class="shopify-react-section" data-react-component="HoverAccordion"></div>
{% schema %}
{
  "name": "Skincare Active Accordion",
  "tag": "section",
  "class": "section-accordion",
  "settings": [],
  "presets": [
    {
      "name": "Skincare Active Accordion"
    }
  ]
}
{% endschema %}
