<div class="shopify-react-section" data-react-component="HeroSection"></div>
<div class="shopify-react-section" data-react-component="BestsellersCarousel"></div>
<div class="shopify-react-section" data-react-component="CurrentlyObsessed"></div>
<div class="shopify-react-section" data-react-component="TrustCards"></div>
<div class="shopify-react-section" data-react-component="ParallaxSplit"></div>
<div class="shopify-react-section" data-react-component="AutoScrollCards"></div>
<div class="shopify-react-section" data-react-component="ShopTheLook"></div>
<div class="shopify-react-section" data-react-component="GreetingSection"></div>
<div class="shopify-react-section" data-react-component="LightweightFormulas"></div>
<div class="shopify-react-section" data-react-component="MakeupPouchFeature"></div>
<div class="shopify-react-section" data-react-component="ScrollingBanner"></div>
<div class="shopify-react-section" data-react-component="FunEditorialSection"></div>
<div class="shopify-react-section" data-react-component="CommunitySection"></div>
<div class="shopify-react-section" data-react-component="HoverAccordion"></div>

{% schema %}
{
  "name": "Decoupled SPA Fallback",
  "settings": []
}
{% endschema %}
