<div class="shopify-react-section" data-react-component="ScrollingBanner"></div>
{% schema %}
{
  "name": "Continuous Marquee Ribbon",
  "tag": "section",
  "class": "section-scrolling-ribbon",
  "settings": [],
  "presets": [
    {
      "name": "Continuous Marquee Ribbon"
    }
  ]
}
{% endschema %}
